@import url(https://fonts.googleapis.com/css?family=Merriweather:300,900|Open+Sans&subset=cyrillic);* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0px;
  font-family: 'Open Sans';
  color: #313638;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather';
}

h1 {
  margin: 24px 0px 16px 0px;
}

.hidden {
  display: none;
}

.link {
  color: #313638;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.link.light {
  color: #fffafa;
}

.link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -2px;
  right: 0px;
  background-color: #9f8170;
  z-index: -1;
}

.link:hover {
  text-decoration: none;
  color: #fffafa;
}

.link:hover::after {
  height: 24px;
}

.text {
  margin: 8px 0px;
}

.text.center {
  text-align: center;
}

.input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fffafa;
  color: #313638;
  border: none;
  border-radius: 4px;
  padding: 8px 16px 12px 16px;
  font-size: 16px;
}

.input:invalid {
  color: #ff6347;
  -webkit-box-shadow: 0px 0px;
          box-shadow: 0px 0px;
}

.input > input,
.input > select {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e0dfd5;
  padding: 0px;
  -webkit-box-shadow: 0px 0px;
          box-shadow: 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 24px;
  margin-top: 8px;
  -webkit-transition: border-bottom-color 0.2s ease;
  transition: border-bottom-color 0.2s ease;
}

.input > input:focus,
.input > select:focus {
  border-bottom-color: #9f8170;
  -webkit-transition: border-bottom-color 0.2s ease;
  transition: border-bottom-color 0.2s ease;
}

.input > input:invalid,
.input > select:invalid {
  border-bottom-color: #ff6347;
  -webkit-transition: border-bottom-color 0.2s ease;
  transition: border-bottom-color 0.2s ease;
}

.input > input:required,
.input > select:required {
  background-image: url(/images/asterisk.svg?9c80d44222e12def1dcd980ac64335b4);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 24px;
}

.input > input::-moz-placeholder,
.input > input:-ms-input-placeholder,
.input > input::-webkit-input-placeholder,
.input > select::-moz-placeholder,
.input > select:-ms-input-placeholder,
.input > select::-webkit-input-placeholder {
  color: #9f8170;
}

.input > label {
  font-size: 12px;
  color: #9f8170;
}

.checkbox__checker {
  display: none;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox__label::before {
  content: 'check_box_outline_blank';
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.checkbox__label:empty::before {
  margin-right: 0px;
}

.checkbox__checker:checked + .checkbox__label::before {
  content: 'check_box';
  color: #f09d51;
}

.checkbox__checker:disabled + .checkbox__label::before {
  opacity: 0.5;
}

.radio-button__radio {
  display: none;
}

.radio-button__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-button__label::before {
  content: 'radio_button_unchecked';
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.radio-button__label:empty::before {
  margin-right: 0px;
}

.radio-button__radio:checked + .radio-button__label::before {
  content: 'radio_button_checked';
  color: #f09d51;
}

.radio-button__label.wait-list::before {
  content: 'hourglass_empty';
}

.radio-button__radio:checked + .radio-button__label.wait-list::before {
  content: 'hourglass_full';
}

.radio-button__radio:disabled + .radio-button__label::before {
  opacity: 0.5;
}

.radio-group__groupset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8px;
}

.button {
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: solid 2px #f09d51;
  color: #f09d51;
  border-radius: 2px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block;
}

.button:active {
  border: solid 2px #9f8170;
  color: #9f8170;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button:hover {
  text-decoration: none;
}

.button-flat {
  background: transparent;
  border: none;
}

.button-flat:active {
  border: none;
}

.button-hidden {
  display: none;
}

.button.primary {
  background-color: #f09d51;
  border: none;
  color: #fffafa;
}

.button.primary:active {
  background-color: #9f8170;
}

.button.primary:disabled {
  background-color: #e0dfd5;
  color: #9f8170;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 24px 0px;
}

.form__group {
  border: none;
  padding: 0px;
  margin: 0px;
  display: none;
}

.form__group-current {
  display: block;
}

.form > .button {
  margin-top: 16px;
}

.form .input {
  border-top: 1px solid #e0dfd5;
  border-radius: 0px;
}

.form .input:first-child {
  border-top: none;
  border-radius: 4px 4px 0px 0px;
}

.form .input:last-child {
  border-bottom: none;
  border-radius: 0px 0px 4px 4px;
}

.form .input:only-child {
  border: none;
  border-radius: 4px;
}

.tristate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.tristate > .tristate__state {
  position: absolute;
  margin: 0;
  width: 16px;
  height: 24px;
  opacity: 0;
  z-index: 10;
}

.tristate > .tristate__state-off {
  left: 32px;
}

.tristate > .tristate__state-off:disabled ~ .tristate__label-off + .tristate__label-null {
  opacity: 0.5;
}

.tristate > .tristate__state-null {
  left: 48px;
}

.tristate > .tristate__state-on {
  left: 64px;
}

.tristate > .tristate__state-on:disabled ~ .tristate__label-on + .tristate__label-null {
  opacity: 0.5;
}

.tristate > .tristate__label {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.tristate > .tristate__label-on,
.tristate > .tristate__label-off {
  display: none;
  color: #f09d51;
}

.tristate > span {
  display: inline-block;
  width: 48px;
  height: 12px;
  margin: 8px;
  border-radius: 6px;
  position: relative;
  background-color: #cccbca;
}

.tristate > span::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  position: absolute;
  top: -6px;
  left: 12px;
  background-color: #9f8170;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.tristate > .tristate__state-null:checked ~ span::before {
  left: 12px;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.tristate > .tristate__state-null:checked ~ .tristate__label-on,
.tristate > .tristate__state-null:checked ~ .tristate__label-off {
  display: none;
}

.tristate > .tristate__state-off:checked ~ .tristate__label-off {
  display: inline-block;
}

.tristate > .tristate__state-off:checked ~ .tristate__label-off + .tristate__label-null,
.tristate > .tristate__state-off:checked ~ .tristate__label-null + .tristate__label-on {
  display: none;
}

.tristate > .tristate__state-off:checked ~ span::before {
  left: 0px;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.tristate > .tristate__state-on:checked ~ .tristate__label-on {
  display: inline-block;
}

.tristate > .tristate__state-on:checked ~ .tristate__label-off,
.tristate > .tristate__state-on:checked ~ .tristate__label-on + .tristate__label-null {
  display: none;
}

.tristate > .tristate__state-on:checked ~ span::before {
  left: 24px;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/images/expand-more.svg?ee3fa1089ffc526e62c30541f0f3d8bf) !important;
  background-size: 16px !important;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 24px;
}

.dropdown {
  position: relative;
}

.dropdown__options {
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 8px 0px 12px 0px;
  background-color: #fffafa;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown__options.hidden {
  display: none;
}

.dropdown__label-empty {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dropdown > input.dropdown__select {
  background-image: url(/images/expand-more.svg?ee3fa1089ffc526e62c30541f0f3d8bf);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 24px;
}

.dropdown > input.dropdown__select:focus {
  background-image: url(/images/expand-less.svg?aa74b5544404cbab8cdf0df5343b9b5d);
}

.dropdown__item {
  height: 24px;
  padding: 0px 16px 0px 16px;
}

.dropdown__item:hover {
  background-color: #cccbca;
}

