.home {
  &__welcome {
    text-align: center;
  }

  &__partners {
    margin-top: 40px;
  }

  &__logo {
    display: inline-block;
    width: 240px;
    height: 160px;
    margin: 24px 16px 8px 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.vodka {
      background-image: url('../img/vodka.png');
    }

    &.world-bowling {
      background-image: url('../img/world-bowling.png');
    }

    &.etbf {
      background-image: url('../img/etbf.png');
    }
  }
}
